header {
  background-color: #ffffff;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.topbar {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-img {
  height: 40px;
  width: auto;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links a:hover {
  color: #007bff;
}

form {
  border: 3px solid rgb(107, 249, 183);
  padding: 30px;
  margin: 20px auto;
  max-width: 450px; /* чтобы на телефоне не растягивалось */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #ff7575, #bcaeff);

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #222;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  box-sizing: border-box; /* чтобы padding не ломал ширину */
  border: none;
  border-radius: 6px;
  outline: none;
}

/* Стиль для полей при фокусе (когда кликают) */
input:focus, select:focus, textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #db9a9a;
  color: #000;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7048ff;
  font-family:comic sans;
}
.info{
  background-color: rgb(159, 210, 255);
}
 